@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto&display=swap');

:root {
  --primary-color: #6E00FF;
  --secondary-color: #fff;
  --text-color: #000;
  --secondary-text-color: #333;
  --quote-color: #333333b6;
  --bg-color: #fff;
  --label-color: #222;
  --border-color: #b8b8b8;
  --box-shadow: 0 0 2px 5px rgba(210, 208, 208, 0.445);
}

[data-theme="dark"] {
  --primary-color: #5150FE;
  --secondary-color: #273444;
  --text-color: #e6dddd;
  --secondary-text-color: #948f8f;
  --quote-color: #bbbbbb;
  --bg-color: #1E2E3D;
  --label-color: #696868;
  --border-color: #2e2d2d;
  --box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background: var(--bg-color);
  color: var(--text-color);
  transition: all ease 0.4s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.brand-logo {
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
}

nav ul a {
  text-decoration: none;
  margin-left: 2rem;
  color: var(--text-color);  
  font-weight: bold;
}

/* Hero Section */
section#hero {
  margin: 4rem 0;
}

.container {
  padding: 0 2rem;
}

.hero-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

/* Quote */
.quote-wrap p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--quote-color);
}

.quote-wrap em {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--secondary-text-color);
}


/* Input */
.login-wrap-box {
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  border-radius: 5px;
  background: var(--secondary-color);
}

.login-title h3 {
  font-size: 1.5rem;
}

.login-title p {
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--secondary-text-color);
}

form p {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: .9rem;
  color: var(--label-color);
}

form input {
  width: 100%;
  height: 2.5rem;
  border: .3px solid var(--border-color);
  text-indent: 10px;
  outline: none;
  margin-top: 2px;
  background: var(--bg-color);
  color: var(--text-color);
}

form .d-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: bold;
  font-size: .9rem;
  color: var(--label-color);
}

form .d-flex a {
  text-decoration: none;
  font-size: 12px;
  color: var(--primary-color);
}

.btn-submit {
  background: var(--primary-color);
  height: 2.5rem;
  width: 6.5rem;
  font-weight: bold;
  color: #fff;
  border-radius: 1.3rem;
  border: none;
  cursor: pointer;

}

.not-regis {
  margin-top: 3rem;
  font-weight: bold;
  font-size: .85rem;
  color: var(--secondary-text-color);
}

.not-regis a {
  color: var(--primary-color);
}

/* Checkbox */
.theme-switch-wrapper {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  position: absolute;

}

.slider::before {
  content: '';
  position: absolute;
  background: #fff;
  bottom: 4px;
  left: 4px;
  height: 26px;
  width: 26px;
  transition: all ease .4s;
}


input:checked + .slider {
  background: #66bb6a;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* Desktop Size */
@media (min-width: 700px) {
  header {
    max-width: 1200px;
    margin: 0 auto;    
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .theme-switch-wrapper {
    margin-top: 0;
  }

  .hero-wrap {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .quote-wrap p {
    font-size: 1.3rem;
  }

  .login-wrap-box {
    max-width: 25rem;
    align-self: flex-end;
    margin-left: auto;
  }
}